html {
  background-color: #fff;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  border: 2px solid red;
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 2px solid red;
  height: 2rem;
  width: 80%;
}
